* {
	margin:0;
	padding:0;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.cf:before,.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
body {
	font:300 16px/1.5 sans-serif;
	letter-spacing: 0.01rem;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering: optimizeLegibility;
}
a {
	-webkit-transition:0.2s all ease-in-out;
	transition:0.2s all ease-in-out;
	outline:0;
}
h1,h2,h3,h4,h5,h6 {
	line-height:1.5;
	font-weight:300;
	margin:0 0 2rem;
}
p {
	line-height:1.5;
	margin:0 0 2rem;
}
h1 { font-size:250%; }
h2 { font-size:200%; }
h3 { font-size:175%; }
h4 { font-size:125%; }
h5 { font-size:100%; }
h6 { font-size:80%; }
button,input,select,textarea {
	font:300 16px/1.5 sans-serif;
	outline:0;
}
@media only screen and (max-width: 600px) { }